html {
  height: 100%;
  font-size: 20px;  
  font-family: "Roboto", sans-serif;  
  line-height: 1.5em;  
  margin: 0em;
  color: rgb(138, 84, 13);  
  background-color: rgb(220, 193, 175); 
  box-sizing: border-box;
}
h1 {
  letter-spacing: 5px;
  font-size: 50px;
  font-family: "Tahoma", sans-serif;
  color: rgb(138, 84, 13);
  text-align: center;
  position: absolute;
  top: 40%;
  left: 20%;
  right: 20%;
}
img{
  padding: 40px;
}
li{
  padding:10px;
}
h2 {
  letter-spacing: 1px;
  font-size: 55px;
  font-family: "Tahoma", sans-serif;
  color: rgb(138, 84, 13);
  text-align: center;
  line-height: 1.3em;
  padding: 10px;
}
h3 {
  letter-spacing: 1px;
  font-size: 25px;
  font-family: "Trebuchet MS", sans-serif;
  color: rgb(138, 84, 13);
  text-align: center;
  line-height: 1.3em;
  padding: 20px;
}
p a {
  color: rgb(138, 84, 13);
  text-decoration: none;
  font-family: "Lucida Console", Courier, monospace;
  padding: 5px;
}
ul.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(138, 84, 13);
  border-style: solid;
  border-color: rgb(235, 226, 210);
}
li.nav {
  float: right;
  font-size: 15px;
  padding:0px;
}
li.nav a {
  display: block;
  color: rgb(248, 242, 229);
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-weight: bold;
}
li.nav a:hover {
  background-color: rgb(235, 226, 210);
  color: rgb(138, 84, 13);
}
.flex-container {
  display: flex; 
  flex-direction: row; 
  flex-wrap: nowrap; 
  justify-content: center; 
  align-items: center; 
  background-color: rgb(235, 226, 210);
  padding: 5px;
  position: absolute;
  left: 20%;
  right: 20%;
  top: 40%; 
}
.text-section {
  background-color: rgb(235, 226, 210);
  padding: 20px 45px;
  margin: 35px;
  text-align: center;
}
.flex-container-action {
  display: flex;
  position: absolute;
  padding: 0.5em 0;
  align-items: center;
  left: 5%;
  right: 5%;
  margin: 5% 0;
  width: 90%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.action-info-container {
  width: 100%;
  margin-right: 5%;
  margin-left: 0;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 35px;
  font-size: 16px;
  flex-grow: 2;
}
.action-info-container img{
  width: 100%;
}
.action-list-container {
  padding: 35px;
  margin: 5%;
}
#checklist {
  background-color: #fcf9f4;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 15px;
  border-style: solid;
  border-color: #454343;
}
#my-list {
  padding: 10px 0 0 0;
  margin: 0;
  font-size: 10pt;
}
#my-list li {
  cursor: pointer;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 8px; 
  padding-left: 35px;
  position: relative;
  list-style-type: none;
  transition: 0.2s;
  width: 85%;
  color: black;
}
#my-list li::before {
  content: "";
  position: absolute;
  border-color: #454343;
  border-style: solid;
  border-width: 2px;
  top: 15px;
  left: 13px;
  height: 10px;
  width: 10px;
}
#my-list li:hover {
  background: #ffffff;
  color:rgb(138, 84, 13)k;
}
#my-list li.all-done::before {
  content: "";
  position: absolute;
  border-color: black;
  border-width: 0 2px 2px 0;
  top: 5px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
footer{
  padding: 4rem 0 2rem 0;
  background: rgb(138, 84, 13);
  text-align: center;
  color:rgb(235, 226, 210);
} 
@media mediatype and (max-width: 700px) {
flex-wrap: wrap;
top: 20%;}