html {
  height: 100%;
  font-size: 20px;  
  font-family: "Roboto", sans-serif;  
  line-height: 1.5em;  
  margin: 0em;
  color: rgb(11, 51, 97);  
  background-color: rgb(195, 216, 230); 
  box-sizing: border-box;
}
h1 {
  letter-spacing: 5px;
  font-size: 50px;
  font-family: "Tahoma", sans-serif;
  color: rgb(11, 51, 97);
  text-align: center;
  position: absolute;
  top: 40%;
  left: 20%;
  right: 20%;
}
img{
  padding: 40px;
}
li{
  padding:0px;
}
h2 {
  letter-spacing: 1px;
  font-size: 55px;
  font-family: "Tahoma", sans-serif;
  color: rgb(11, 51, 97);
  text-align: center;
  line-height: 1.3em;
  padding: 10px;
}
h3 {
  letter-spacing: 1px;
  font-size: 25px;
  font-family: "Trebuchet MS", sans-serif;
  color: rgb(11, 51, 97);
  text-align: center;
  line-height: 1.3em;
  padding: 20px;
}
p a {
  color: rgb(11, 51, 97);
  text-decoration: none;
  font-family: "Lucida Console", Courier, monospace;
  padding: 5px;
}
ul.nav-bar {
  list-style-type: none;
  overflow: hidden;
  background-color: rgb(11, 51, 97);
  border-style: solid;
  border-color: rgb(216, 231, 240);
}
li.nav {
  float: right;
  font-size: 15px;
}
li.nav a {
  display: block;
  color: rgb(216, 231, 240);
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
li.nav a:hover {
  background-color: rgb(216, 231, 240);
  color: rgb(11, 51, 97);
}
.flex-container {
  display: flex; 
  flex-direction: row; 
  flex-wrap: nowrap; 
  justify-content: center; 
  align-items: center; 
  background-color: rgb(216, 231, 240);
  position: absolute;
  left: 20%;
  right: 20%;
  top: 40%; 
}
.text-section {
  background-color: rgb(216, 231, 240);
  padding: 10px 35px;
  margin: 25px;
  text-align: center;
}

footer{
  padding: 4rem 0 2rem 0;
  background: rgb(11, 51, 97);
  text-align: center;
  color:rgb(216, 231, 240);
}
@media mediatype and (max-width: 700px) {
flex-wrap: wrap;
top: 20%;}