h1 {
  letter-spacing: 5px;
  font-size: 50px;
  font-family: "Tahoma", sans-serif;
  color: rgb(53, 7, 49);
  text-align: center;
  position: absolute;
  top: 40%;
  left: 20%;
  right: 20%;
}
img{
  padding: 40px;
}
li{
  padding:0px;
}

h2 {
  letter-spacing: 1px;
  font-size: 40px;
  font-family: "Trebuchet MS", sans-serif;
  color: rgb(75, 15, 70);
  text-align: center;
  line-height: 1.3em;
  padding: 10px; 
}
h3 {
  letter-spacing: 1px;
  font-size: 25px;
  font-family: Garamound;
  color: rgb(53, 7, 49);
  text-align: center;
  line-height: 1.3em;
  padding: 10px;
}
p a {
  color: rgbrgb(53, 7, 49);
  text-decoration: none;
  font-family: "Lucida Console", Courier, monospace;
  padding: 5px;
}
ul.nav-bar {
  list-style-type: none;
  overflow: hidden;
  background-color: rgb(248, 242, 248);
  border-style: solid;
  border-color: rgb(248, 242, 248);
}
li.nav {
  float: right;
  font-size: 15px;
}
li.nav a {
  display: block;
  color: rgb(82, 31, 87);
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif ;
  font-size: 15px;
}
li.nav a:hover {
  background-color: rgb(248, 242, 248);
  color: rgb(187, 123, 181);
}
.flex-container {
  display: flex; 
  flex-direction: row; 
  flex-wrap: nowrap; 
  justify-content: center; 
  align-items: center; 
  background-color: rgb(53, 7, 49);
  position: absolute;
  left: 20%;
  right: 20%;
  top: 40%; 
}
.text-section {
  background-color: rgb(221, 209, 223);
  padding: 10px 35px;
  margin: 25px;
  text-align: center;
}
footer{
  padding: 4rem 0 2rem 0;
  background: rgb(53, 7, 49);
  text-align: center;
  color:rgb(226, 209, 228);
}
@media only screen and (max-width: 480px) {
  .flex-container-action {flex-wrap: nowrap;}}
@media mediatype and (max-width: 700px) {
  flex-wrap: wrap;
  top: 20%;}
@media only screen and (min-width: 701px) {
  .flex-container-action {flex-wrap: wrap;}
  .left-container {
    width: 50%;
    margin-right: 10%;
  }
}
@media only screen and (min-width: 1000px) {
  .flex-container-action {flex-wrap: nowrap;}
}
@media only screen and (min-width: 1250px) {
  .flex-container-action {flex-wrap: nowrap;}} 