body,
html {
  height: 100%;
  font-size: 20px;  
  font-family: "Roboto", sans-serif;  
  line-height: 1.5em;  
  margin: 0em;
  color: rgb(59, 6, 6);  
  background-color: rgb(235, 217, 217); 
  box-sizing: border-box;
}
h1 {
  font-size: 50px;
  font-family: "Tahoma", sans-serif;
  color: rgb(59, 6, 6);
  text-align: center;
  position: absolute;
  top: 40%;
  left: 20%;
  right: 20%;
}
img{
  padding: 40px;
}
li{
  padding:10px;
}
h2 {
  font-size: 55px;
  font-family: Garamound;
  color: rgb(59, 6, 6);
  text-align: center;
  padding: 10px;
}
h3 {
  font-size: 45px;
  font-family: Garamond; 
  color: rgb(59, 6, 6);
  text-align: center;
  line-height: 1.3em;
  padding: 20px;
}
h4 {
  letter-spacing: 1px;
  font-size: 55px;
  font-family: Georgia, serif;
  color: rgb(59, 6, 6);
  text-align: center;
  padding: 20px;
  background-color: rgb(245, 244, 244);
}
p{
  font-size: 15px;
}
p a {
  color: rgb(59, 6, 6);
  font-family: "Lucida Console", Courier, monospace;
  padding: 5px;
}

ul.nav-bar {
  list-style-type: none;
  overflow: hidden;
  background-color: rgb(235, 217, 217);
  border-style: solid;
  border-color: rgb(235, 217, 217);
}
li.nav {
  float: right;
  font-size: 15px;
}
li.nav a {
  display: block;
  color: rgb(59, 6, 6);
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif ;
  font-size: 15px;
}
li.nav a:hover {
  background-color: rgb(235, 217, 217);
  color: rgb(190, 124, 124);
}
.flex-container {
  display: flex; 
  flex-direction: row; 
  flex-wrap: nowrap; 
  justify-content: center; 
  align-items: center; 
  background-color: rgb(228, 210, 210);
  position: absolute;
  left: 20%;
  right: 20%;
  top: 40%; 
}
.text-section {
  background-color: rgb(228, 210, 210);
  padding: 10px 35px;
  margin: 25px;
  text-align: center;
}
.image-one {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(59, 6, 6);
  background-size: cover;
  min-height: 100%; 
  background-attachment: fixed;
}
.image-one {
  background-image: url("https://live.staticflickr.com/7801/33077843338_a6e39d2af4_h.jpg");
}
footer{
  padding: 4rem 0 2rem 0;
  background: rgb(59, 6, 6);
  text-align: center;
  color:rgb(228, 210, 210);
}
@media only screen and (max-width: 480px) {
  .flex-container-action {flex-wrap: nowrap;}}
@media mediatype and (max-width: 700px) {
  flex-wrap: wrap;
  top: 20%;}
@media only screen and (min-width: 701px) {
  .flex-container-action {flex-wrap: wrap;}
  .left-container {
    width: 50%;
    margin-right: 10%;
  }
}
@media only screen and (min-width: 1000px) {
  .flex-container-action {flex-wrap: nowrap;}
}
@media only screen and (min-width: 1250px) {
  .flex-container-action {flex-wrap: nowrap;}} 