h1{
  color: #99ccff;
  background-color: #00264d;
  font-family: Trebuchet MS;
  text-align:center;
}
body{
  color: #00264d;
  background-color:#cce6ff;
  padding: 15px;
  font-family: Tahoma;
  align-items: flex-align;
}
p{
  text-align:center;
}
form {
  padding: 30px;
  align-items: flex-align;
  
}
.input-group {
  padding: 10px;
  
}
button{
  background-color: #003366;
  color: lightblue;
  font-size: 20px;
  border-color: #004d99;
  
}
button:hover{
  background-color:lightblue;
  color: teal;  
}